body
{
background-image: url('cod.jpg');
width: 90%;
margin-left: auto;
margin-right: auto;
padding: 10px;
font-size: 14px ;
font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
}

a {
    text-decoration:none ;
    color: #0099FF ;
    font-weight: bold;
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
}
.cont1{
  padding-top: 10px;
}
.content{
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.list {
font-family:sans-serif;
margin:0;
padding:10px 0 0;
background-color: white;
}

.list > li {
display:inline;
padding:5px;
padding-bottom:5px;
}

ul li a {
 display:block;
}

.list li p{
  padding-left:7px;
  padding-right: 4px;
  text-decoration:none ;
  color: black ;
  font-weight: bold;
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
}

#logged_in {
	float:right ;
}
#lgo{
  color:#f93636;
}

.errorHolder {
	font-size: 16px ;
	color: red ;
}

.loginContent {
		display:block ;
    padding-top: 60px;
    margin-left: auto;
    margin-right: auto;;
}

.panel-header {
	height: 23px;
	margin-top:15px ;
	padding: 6px 6px;
	background-color: black;
	font-size: 14px;
	font-family: 'Droid Sans', "Times New Roman", Times, serif;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.panel-header h1 {
	margin-left: 6px;
	display: inline;
	font-size: 24px;
  color:#2377ff;
}

.panel-header .panel-icons {
	float: right;
}

.panel-header .panel-icons a {
	margin-left: 6px;
}

.form {

    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.panel-body {
	border: solid 1px #ccc;
	margin-bottom: 0px;

}

#try_again{
  width: 95%;
  border: 1px solid #ccc;
  text-align: center;
  padding-right: 4px;
  text-decoration:none ;
  color: blue ;
  font-weight: bold;
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
  display:inline;
  float: left;
  padding:5px;
  padding-bottom:5px;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  background-color: transparent;
}

#try_again:hover{
background-color: #ccc;
}

#Success{
  padding-right: 4px;
  text-decoration:none ;
  color: green ;
  font-weight: bold;
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
}

#add{
  font-size: 18px;
}

.actionButton {
    width: 120px;
    background-color: black;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
		margin-top: 30px ;
		display: block;
    border: 1px solid black;
}
.actionButton:hover {
    background-color: #737373;
}

#remove:hover{
  background-color: red;
}

select {
    -webkit-appearance: button;
    -moz-appearance: button;
    background-color: transparent;
}

select:focus{
  background-color: #e2edff;
}

input[type=text]:focus {
    background-color: #e2edff;
}

input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 2px;
    box-sizing:content-box;
		display: block;
}

input[type=password] {
    width: 50%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 2px;
    box-sizing: content-box;
		display: block;
}

input[type=submit] {
    width: 120px;
    background-color: #1a1a1a;
    color: white;
    padding: 14px 20px;
    border-radius: 4px;
    cursor: pointer;
		margin-top: 10px ;
		display: block;
    font-size: 18px;
    border: 1px solid black;
}

input[type=submit]:hover {

    background-color: #2ff229;
    color: black;
}

input[type=button]{
  width: 120px;
  background-color: #1a1a1a;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px ;
  display: block;
  font-size: 18px;
}

input[type=button], #delALL{
  color: #f93636;
}

#addS{
  width: 120px;
  background-color: #1a1a1a;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px ;
  display: block;
  font-size: 18px;
}
.form {
    background-color: white;
    padding: 5px;
}

.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
		margin-top: 25px ;
		border: 1px solid black;
    border-top-left-radius: 5px;
  	border-top-right-radius: 5px;
}

.topnav li{
	float:left;
  padding-left: 2%;
  margin-left: auto;
  margin-right: inherit;
}


.logo{
  display: block;
}


.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    padding: 14px 16px;
		padding-top: 10px ;
    text-decoration: none;
    transition: 0.3s;
    font-size: 18px;
    cursor: pointer;
}


.topnav li a:hover{
	color: #2377ff;
}


.topnav li.icon {
	display: none;
}

ul li a {
 display:block;
}

.logo_login {
    float:left ;
    border: none;
}

.foot {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    position:static;
    text-align: center;
    width: 100%;
}
.foot_mobile{
  display: none;
}
#footer {
	margin-top: 40px;
	border-top: 1px solid grey;
	color: black;
	padding: 15px 0;
}
.content_mobile{
  display: none;
}
.contt{
  display: block;
}
#footer a {
	color: black;
	text-decoration: none;
}
